## sklearn LinearRegression model

In [3]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [30]:
df = pd.read_csv('ratings.csv')
df.head()

   rating   kast   kpr   dpr impact   adr
0    1.34  74.8%  0.86  0.62   1.48  89.4
1    1.24  73.7%  0.85  0.64   1.35  86.1
2    1.26  76.0%  0.77  0.54   1.22  79.4
3    1.22  72.0%  0.80  0.61   1.30  80.6
4    1.20  73.6%  0.79  0.60   1.25  81.0

In [31]:
df.dtypes

rating    float64
kast       object
kpr       float64
dpr       float64
impact     object
adr        object
dtype: object

## Types conversion

In [29]:
def to_float(x: str) -> float:
    try:
        x = x.replace('%', '')
        return float(x)
    except:
        return 0.00

df['kast'] = list(map(to_float, df['kast']))
df['impact'] = list(map(to_float, df['impact']))
df['adr'] = list(map(to_float, df['adr']))

In [19]:
df.dtypes

rating    float64
kast      float64
kpr       float64
dpr       float64
impact    float64
adr       float64
dtype: object

In [20]:
df.head()

   rating  kast   kpr   dpr  impact   adr
0    1.34  74.8  0.86  0.62    1.48  89.4
1    1.24  73.7  0.85  0.64    1.35  86.1
2    1.26  76.0  0.77  0.54    1.22  79.4
3    1.22  72.0  0.80  0.61    1.30  80.6
4    1.20  73.6  0.79  0.60    1.25  81.0

## Data load

In [24]:
X = np.array(df[['dpr', 'kast', 'impact', 'adr', 'kpr']])
y = np.array(df[['rating']])

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0,
                                                    test_size=0.2)

## Train & Scores

In [26]:
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_test, y_test)

0.49074074007473845

In [42]:
y_pred = reg.predict(X_test)

print(f'Coefficients: {reg.coef_}')

print(f'R2 score:{r2_score(y_test, y_pred)}')
print(f'RMSE:{mean_squared_error(y_test, y_pred, squared=False)}')
print(f'MAE:{mean_absolute_error(y_test, y_pred)}')

Coefficients: [[-5.49675329e-01  6.74824619e-03  1.60900273e-01 -4.99125230e-04
   9.05451206e-01]]
R2 score:0.5032026561793783
RMSE:0.052974992819747525
MAE:0.02553702518752474

In [1]:
import torch
import torch.nn as nn
import torch.optim as optim

In [ ]:
class HLTVRatingModel(nn.Module):
    def __init__(self):
        super(HLTVRatingModel, self).__init__()
        self.linear = nn.Linear(5, 1)
        
    def forward(self, x):
        return self.linear(x)